body {
    margin: 0;
    padding: 0;
}
#sekil1 {
    background-image: url('./arxafon.twitter.jpg');
    height: 42em;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sol {
    font-size: 15em;
    color: white;
}
.sag {
    font-size: 2.5em;
    margin-top: 80px;
    color:rgba(29,161,242,1.00); ;
    margin-left: 25px;
}
.h1 {
    font-size: 5em !important;
    font-weight: 800 !important;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px; 
    color: rgb(0,0,0);
    margin-left: 25px;
}
.h2 {
    color: rgb(0,0,0);
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
    font-weight: 800 !important;
    margin-top: 50px;
    font-size: 2em !important;
}
.sign-up{
    width: 25em;
    display: block;
    border: 0.1px solid rgb(29, 161, 242);
    height: 3em;
    border-radius: 30px;
    margin-left: 25px;
    font-weight: 700;
}
.login{
    margin-top: 1em;
    color: rgb(29,161,242); 
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(29,161,242);
    border-radius: 30px;
    display: block;
    text-align: center;
    width: 25em;
    margin-left: 25px;
    padding: 10px;
    font-weight: 700;
}
.login:hover{
    text-decoration: none;
    color: rgb(29,161,242);
    background: #EBF5FE;
}

 .sign-up {
    background-color: rgb(29, 161, 242);
    color: white;
    margin-top: 35px;
 }
 .sign-up:hover{
     background: #1B91DA;
 }
 .footer{
    margin-top: 5%;
    text-align: center;
    
  }
  .foot {
      color: rgb(45,45,45);
      font-size: 15px;
      margin: 0.5em;
  }
  .foot:hover{
    color: rgb(45,45,45);
  }

.popup-block{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    background:rgba(0, 0, 0, 0.4);
}
.popup-inline{
    margin-top: 5%;
    width: 600px;
    height: 600px;
    background: #FFF;
    border-radius: 10px;
}


































@media screen and (max-width:991px){
    .row{
        display: flex;
        flex-direction: column-reverse;
    }
    #sign-up_log-in{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:425px){
    #sign-up_log-in>div>.sign-up,#sign-up_log-in>div>.login{
        width: 90%;
    }
    #sign-up_log-in>div>h1{
        font-size: 4em !important;
    }
    #sign-up_log-in>div>h2{
        font-size: 1.5em !important;
    }
}