@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
    background: #000;
    width: 100vw;
    height: 100vh;
}

 .row{
    height: 90%;
    width: 100%;
    margin-bottom: 2% !important;
}
.right-side>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2% !important;
}
.sm-icon{
    color: #D9D9D9;
    font-size: 3em;
    margin-bottom: 15% !important;
}
.right-side>div>h1,h3{
    color: #D9D9D9;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
.right-side>div>h1{
    font-size: 3.7em;
    margin-bottom: 6% !important;
}
.right-side>div>h3{
    font-size: 2em;
    margin-bottom: 6% !important;
}
#signup{
    border: 1px solid #1DA1F1;
    background: #1DA1F1;
    padding: 12px 20px !important;
    border-radius: 35px;
    color: #FFF;
    font-weight: 700;
    width: 23em;
    margin-bottom: 3% !important;
}
#signup:hover{
    border-color: #1B91DA;
    background: #1B91DA;
}
#login{
    text-align: center;
    border: 1px solid #1DA1F1;
    background: #000;
    padding: 12px 20px !important;
    border-radius: 35px;
    color: #1DA1F1;
    font-weight: 700;
    width: 23em;
}
#login:hover{
    border-color: #1B91DA;
    background: #061119;
    text-decoration: none;
}
.left-side{
    width: 90vh;
    height: 90vh;
    /* background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png"); */
    position: relative;
    padding: 0px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg-icon{
    color: #FFFFFF;
    font-size: 23em;
    position: absolute;
    top: 25%;
    left: 25%;
    margin: 0px !important;
    padding: 0px !important;
}
footer{
   text-align: center;
}
footer>a{
    margin-right: 1% !important;
    color: #6A7278;
    font-size: 0.85em;
}
footer>a:hover{
    text-decoration: underline;
    color: #6D767D;
}
footer>p{
    color: #6A7278;
    font-size: 0.85em;
}
.popup-block{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    /* align-items: center; */
    justify-content: center;
    background: rgba(36, 45, 53,0.4);
}
.popup-inline{
    margin-top: 5%;
    width: 600px;
    height: 650px;
    background: #000;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 10px 25px;
    border-radius: 10px;
}
.popup-inline>i{
    color: #D9D9D9;
    font-size: 2em;
    text-align: center;
    margin-bottom: 4%;
}
.popup-inline>h3{
    color: #D9D9D9;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 5%;
}
#name,#phone{
    width: 100%;
    height: 50px;
    outline: none;
    background: #000;
    border: 1px solid #2F3336;
    color: white;
    border-radius: 5px;
    padding-left: 11px;
    padding-top: 10px;
}
#name+label,#phone+label{
    transform:translate(20%,-150%);
    color: #6D767D;
}
#name:focus,#phone:focus{
    border-color: #1DA1F1;
}

#name:focus+label,#phone:focus+label{
    font-size: 0.8em;
    transform: translate(30%,-260%);
    color:#1DA1F1;
}

#name:valid+label,#phone:valid+label{
    font-size: 0.8em;
    transform: translate(30%,-260%);
    color:#1DA1F1;
}

.name>.counter{
    display: none;
} 
.name{
    position: relative;
}
#name:focus~.counter{
    position: absolute;
    top: 3px;
    left: 510px;
    display: inline-table;
    font-size: 0.8em;
    /* transform: translate(1760%,-189%) !important; */
    color:#1DA1F1;
    z-index: 999;
}

.popup-inline>#change{
    color: #1B93DD;
    margin-bottom: 5%;
}

.popup-inline>#change:hover{
    text-decoration: underline;
    color: #1B95E0;
    cursor: pointer;
}

.date>h4{
    color: #D9D9D9;
    font-size: 16px;
}

.date>p{
    color: #6D767D;
    font-size: 14px;
    margin-bottom: 3%;
}

.flexible{
    display: flex;
    justify-content:space-between;
    margin-bottom: 15%;
    padding: 10px;
}
.flexible>.months,.days,.years{
    border: 1px solid #2F3336;
    border-radius: 5px;
    font-size: 0.9em;
}
.flexible>.months{
    width: 45%;
}
.flexible>.days{
    width: 20%;
}
.flexible>.years{
    width: 25%;
}
.flexible>.months>label,.flexible>.days>label,.flexible>.years>label{
    transform: translate(18%,-240%);
}
#month{
    border: 0px solid #2F3336;
    background: #000;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 100%;
}
#day{
    border: 0px solid #2F3336;
    background: #000;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 100%;
}
#year{
    border: 0px solid #2F3336;
    background: #000;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 100%;
}
#month:focus~label,#day:focus~label,#year:focus~label{
    color: #1DA1F1;
}
#month:focus,#day:focus,#year:focus{
    border: 2px solid #1DA1F1;
}
select{ 
    font-size: 15px;
    color: #FFF  !important;
}
/* select>option{
    margin-top: 20px !important;
} */
#next{
    border: 1px solid #1DA1F1;
    border-radius: 25px;
    color: #FFF;
    background: #1DA1F1;
    padding: 10px 15px;
    opacity: 0.3;
    font-weight: 900;
}




































@media screen and (max-width:1000px){
    .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .right-side{
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
    }
    .right-side>div{
        height: auto;
        width: auto;
    }
    .right-side>div>i,h1,h3,button,a{
        margin-bottom: 4% !important;
    }
    .left-side>i{
        top: 25%;
        left: 28%;
    }
    .left-side>img{
        width: 100vw !important;
    }
    .left-side{
        width: 100% !important;
    }    
} 
@media screen and (max-width:750px){
    .left-side>i{
        font-size: 20em;
    }
}
@media screen and (max-width:500px){
    .left-side{
        height: 50vh;
        width: 100% !important;
    }
    .left-side>img{
        height: 50vh;
        width: 100vw !important;
    }
    .left-side>i{
        font-size: 12em;
        left: 30%;
    }
    .right-side>div>i{
        font-size: 2em;
    }
    .right-side>div>h1{
        font-size: 2.5em;
    }
    .right-side>div>h3{
        font-size: 1.5em;
    }
    .right-side>div>a,button{
        height: 45px;
    }
    footer>a,p{
        font-size: 0.8em;
    }
}
@media screen and (max-width:375px){
    .right-side{
        width: 100vw;
    }
    .right-side>div>i{
        font-size: 2em;
    }
    .right-side>div>h1{
        font-size: 3em;
    }
    .right-side>div>h3{
        font-size: 1.4em;
    }
    .right-side>div>a,button{
        font-size: 15px;        
    }
}
@media screen and (max-width:320px){
    .right-side{
        width: 100vw;
    }
    .right-side>div>i{
        font-size: 3em;
    }
    .right-side>div>h1{
        font-size: 3em;
    }
    .right-side>div>h3{
        font-size: 2em;
    }
    .right-side>div>a,button{
        font-size: 15px;  
        width: 20em !important; 
        padding: 2px !important;   
    }
}
@media screen and (max-width:280px){
    .right-side{
        width: 100vw;
    }
    .right-side>div>a,button{
        width: 15em !important;
    }
    .left-side>i{
        left: 13%;
    }
    /* .left-side{
        width: 100%;
    }
    .left-side>img{
        width: 100vw;
    } */
}